.category_boxes {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  margin: 10px 3px;
  overflow: hidden;
  transition: all .3s ease-in;
}

.category_boxes:hover img {
  transform: scale(1.1);
  transition: all .3s ease-in;
}


.category_boxes img {
  margin: 0 auto;
  border-radius: 25px;
}

.category_boxes p {
  font-size: 16px;
  margin: 10px 0;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.category_boxes p:hover {
  color: blue;
  transition: all .5s ease-in-out;
  text-decoration: underline;
}


.category_section .swiper-button-prev,
.category_section .swiper-button-next {

  font-size: 10px;
  border-radius: 50%;
  border: 1px solid #000;

  color: #000;
}


.category_section .swiper-navigation-icon {
  width: 12px !important;
}

.category_section .swiper-button-prev,
.category_section .swiper-button-next:hover {
  background-color: #000000cb;
  color: #fff;
}

/* -------------- */

.category_wrapper {
  width: 100%;
  text-align: center;
  position: relative;
}

.slider_wrapper {
  display: flex;
  margin-top: 20px;
}

.category_wrapper img {
  width: 50px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.category_wrapper .img_wrapper {
  position: relative;
}

.category_wrapper .img_wrapper::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 29px;
  left: 70px;
  opacity: 0.5;

  border-radius: 10px 20px 25px 5px;
  background-color: #ddd;

}

.category_wrapper p {
  font-weight: 600;
  width: min-content;
  margin: 0 auto;
  padding: 15px 0;
}