.footer_Section {
    background-color: #e6f0f5;
    color: #000;
}

.footer_support {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    border-bottom: 1.5px solid #888;
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}




.footer_support .footer_icons {
    margin: 0 auto;
    border-right: 1.5px solid #888;
    width: 100%;
}

.footer_support .footer_icons:last-child {
    border-right: unset;
}

.footer_support .icon {
    /* color: rgb(202, 32, 135); */
    color: red;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.footer_support p {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
}



.footer_column {
    padding: 60px 0;
    display: flex;
    flex-flow: wrap;
    gap: 25px;
}

.footer_column .footer_item:not(:first-child) {
    flex: 1;
}

.footer_column .footer_item:first-child {
    flex: 0 0 25%;
}

.footer_column .footer_title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer_column .footer_item .about_comp {
    margin-top: 10px;
}


.footer_column .footer_item .footer_links li::before {
    content: "\00BB";
    pointer-events: none;
    position: absolute;
    display: block;
    font-size: 25px;
    right: 0;
    top: -3px;
    width: 100%;
    height: 100%;
}

.footer_column .footer_item .footer_links li a {
    margin-left: 20px;
    display: inline-block;
    font-size: 15px;
}




.footer_column .footer_item .footer_links li {
    line-height: 28px;
    position: relative;
    transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.footer_column .footer_item .footer_links li:hover {
    color: red;

    transform: scaleX(1.1) translateX(10px);
}

.footer_item .customer_support {
    padding: 18px;
    background-color: #f5e9c4;
    border-radius: 20px;
}

.footer_item .customer_support h5 {
    color: red;
}

.footer_item .customer_support .contact_links p {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 25px;
    cursor: pointer;
}

.footer_item .customer_support .contact_links .icon {
    font-size: 16px;
}


 .contact_icons ul {
    display: flex;
    gap: 10px;
}

.social_media_icons h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
}

 .contact_icons ul li {
    border: 1px solid #000;
    border-radius: 50%;
}

 .contact_icons ul li a {
    padding: 8px;
    border-radius: 50%;
    transition: all .3s ease-in;
    display: block;
}

 .contact_icons ul li:hover {
    background-color: #000;
    color: #fff;
    transition: all .3s ease-in;
}

.footer_bottom p {
    text-align: center;
    color: #000;
    padding: 12px 0;
    border-top: 1.5px solid #888;
    ;
}

@media screen and (max-width:992px) {

 .footer_column .footer_item:first-child {
    flex: 0 0 35%; 
  }

  .footer_column .footer_item:not(:first-child) {
    flex: 1 1 19%; 
  }

}





@media screen and (max-width:767px) {

    .footer_support {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer_support .footer_icons:nth-child(2) {
        border: none;
    }




     .footer_column .footer_item:first-child {
    flex: 0 0 48%; 
  }

  .footer_column .footer_item:not(:first-child) {
    flex: 1 1 30%; 
  }
}   


@media screen and (max-width:600px) {
    .footer_support {
        grid-template-columns: repeat(1, 1fr);
    } .footer_support .footer_icons {
       border: none!important;
       margin-bottom: 30px ;
    }

}